.leaflet-label {
    position: absolute;
    white-space: nowrap;
    font-size: 15px;
    line-height: normal;
    padding: 2px;
    text-shadow: -1px -1px #fff, 1px 1px #fff, -1px 1px #fff, 1px -1px #fff, 0 -1px #fff, 0 1px #fff;    
}